.signUp {
    color: white;
}

.signUp_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13%;
    border-bottom: 2px solid #F4613A;

    span {
        margin-right: 20px;
        padding: 10px 0 10px 10px;
    }
}

.SignUpform {
    width: 300px;
    height: auto;
    padding: 10px 0 20px 0;
    font-size: 0,9em;
    
    .field {
        padding-top: 10px;
    }
}

.uploadAvatar{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0 0 0;

    .fileInput {
        border: 1px solid;
        width: 65px;
        height: 20px;
        text-align: center;
        border-radius: 4px;
        background: #F4613A;
        margin: 0;
    }
    .button {
        width: 80%
    }
}